# Arquivos de ambiente e configuração local
.env
config.py

# Cache e temporários
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
*.log

# Diretórios de build
dist/
build/
*.spec

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db